
@{
    ViewBag.Title = "SriLankaMap";
}

<h2>SriLankaMap</h2>

<style>
    .col-md-2 .mystyle {
        border: 5px solid red;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <h3>District 01</h3>
                </div>
                <div class="col-md-2 mystyle">
                    <h3>District 02</h3>
                </div>
                <div class="col-md-2 mystyle">
                    <h3>District 03</h3>
                </div>
                <div class="col-md-2 mystyle">
                    <h3>District 04</h3>
                </div>
                <div class="col-md-2 mystyle">
                    <h3>District 05</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <h3>District 06</h3>
                </div>
                <div class="col-md-2">
                    <h3>District 07</h3>
                </div>
                <div class="col-md-2">
                    <h3>District 08</h3>
                </div>
                <div class="col-md-2">
                    <h3>District 09</h3>
                </div>
                <div class="col-md-2">
                    <h3>District 10</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <h3>District 11</h3>
                </div>
                <div class="col-md-2">
                    <h3>District 12</h3>
                </div>
                <div class="col-md-2">
                    <h3>District 13</h3>
                </div>
                <div class="col-md-2">
                    <h3>District 14</h3>
                </div>
                <div class="col-md-2">
                    <h3>District 15</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <h3>District 16</h3>
                </div>
                <div class="col-md-2">
                    <h3>District 17</h3>
                </div>
                <div class="col-md-2">
                    <h3>District 18</h3>
                </div>
                <div class="col-md-2">
                    <h3>District 19</h3>
                </div>
                <div class="col-md-2">
                    <h3>District 20</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <h3>District 21</h3>
                </div>
                <div class="col-md-2">
                    <h3>District 22</h3>
                </div>
                <div class="col-md-2">
                    <h3>District 23</h3>
                </div>
                <div class="col-md-2">
                    <h3>District 24</h3>
                </div>
                <div class="col-md-2">
                    <h3>District 25</h3>
                </div>
            </div>
        </div>
    </div>
</div>